<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Forum</title>
</head>
<body>
<ul>
    {% for discussion in discussion_list %}
    <li>
        <a href="{{discussion}}/{{discussion_list}}">{{discussion.Title}}</a>
        <time>{{discussion.Time}}</time>
    </li>
    <% end for %>
</ul>

<div class = "new-discussion" action = "{{discussion_list}}" method = "post">
	<h4>New Discussion</h4>
	<form class="discussion-editor" action="/job-forum.html" method="post">
		<label>title
			<input name="title" type="text" size = "40" maxlength = "100">
		</label>
		<p></p>
		<textarea name="description" rows = "10" cols = "60"></textarea>
		<br>
		<input class="create" type="submit" value="create new discussion">
	</form>
</div>

</body>