<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body itemscope itemtype="http://schema.org/CreativeWork"
                vocab="http://schema.org/">

<h1 itemprop = "headline">{{message.Title}}</h1>
<p itemprop = "text">{{message.MContent}}</p>
<p itemprop = "author" itemscope itemtype = "http://schema.org/Person">
    <span itemprop = "name">{{message.Author}}</span>
</p>
<time itemprop = "dateCreated">{{message.Time}}</time>

<ul>
    {% for reply_id, reply in message.replies.items() %}
    <li itemprop = "comment" itemscope itemtype = "http://schema.org/Comment">
        <h4 itemprop = "name">{{reply.Title}}</h4>
        <p itemprop = "text">{{reply.RContent}}</p>
        <p itemprop = "author" itemscope itemtype = "http://schema.org/Person">
            <span itemprop = "name">{{reply.Author}}</span>
        </p>
        <time itemprop = "dateCreated">{{reply.Time}}</time>
    </li>
    {% endfor %}
</ul>
<div class = "new-reply">
	<h4>New Reply</h4>
	<form class="add-reply" action="{{ url_for('message', message_id = message.ID) }}" method="post">
		<label>Title
			<input name="Title" type="text" size = "40" maxlength = "100">
		</label>
        <p></p>
        <label>Author
			<input name="Author" type="text" size = "40" maxlength = "100">
		</label>
		<p></p>
		<textarea name="RContent" rows = "10" cols = "60"></textarea>
		<br>
		<input type = "reset">
		<input type = "submit">
	</form>
</div>
</body>
</html>